[submodule "third-party/vulkan"]
	path = third-party/vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "third-party/volk"]
	path = third-party/volk
	url = https://github.com/zeux/volk.git
[submodule "third-party/sdl"]
	path = third-party/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "third-party/vk-bootstrap"]
	path = third-party/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "third-party/glm"]
	path = third-party/glm
	url = https://github.com/g-truc/glm.git
[submodule "third-party/glfw"]
	path = third-party/glfw
	url = https://github.com/glfw/glfw.git
