# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.zip

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Specific folders
/project-egg-core/SDL2
/project-egg-core/SDL2_image
/project-egg-core/x64
/project-egg-core/Debug
/project-egg-core/tinyxml2
/project-egg-core/src/Vendor
/project-egg-core/cmake-build-debug
.vs
.idea
.i
vcpkg

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### CMake Patch ###
# External projects
*-prefix/